# Virtual Environment
venv/

# Environment Variables
.env
.env.docker

# Python Cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# IDE Files
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db